@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Lemon);
body {
  background-image: url('../media/dice.jpg');
  background-size: cover;
  background-attachment: fixed;
  margin-left: 5px;
}
h1,
h3,
.arrow {
  margin-left: 5px;
  font-family: 'Lemon', cursive;
  color: #7a1b1b;
}
input {
  margin: 5px;
  background-color: rgba(242, 227, 227, 0.9);
}
.arrow {
  width: 50px;
  margin-left: 10px;
  background-color: rgba(117, 71, 71, 0.89);
  box-shadow: 5px 5px 5px #634545;
}
.arrow:hover {
  background-color: rgba(150, 60, 60, 0.8);
  box-shadow: 7px 7px 3px #453030;
}
.dice {
  width: 60px;
  margin: 7px;
  opacity: 1;
}
.frozen {
  width: 60px;
  opacity: 0.7;
}
.horizontal {
  background-color: rgba(211, 206, 147, 0.5);
}
.vertical {
  background-color: rgba(236, 174, 109, 0.5) !important;
}
html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: 'Open Sans', sans-serif;
}
.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-success {
  background: #87ab40;
  height: 65px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
.button-error {
  background: #d2734e;
}
.button-warning {
  background: #df7514;
}
.button-secondary {
  background: rgba(108, 67, 223, 0.55);
}
.button-xsmall {
  font-size: 50%;
}
.button-small {
  font-size: 85%;
}
.button-large {
  font-size: 110%;
}
.button-xlarge {
  font-size: 150%;
}
.pure-button-primary {
  background-color: rgba(174, 25, 25, 0.84);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
.avatar {
  width: 30px;
  height: 30px;
}
.dicearea {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px;
  margin: 5px;
}
